# Dependencies
node_modules/

# Nuxt
/.nuxt/
/.output/
/.data/
dist/
*.tsbuildinfo

# Logs
*.log

# Env files
.env*
!.env.example

# Editors / OS
.idea/
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db
